.PricingAddOns{
          width: 100%;
          height: auto;
          margin-top: 6vmax;
}
.PricingAddOns .AddOns{
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
}
.PricingAddOns .AddOns .AddOnsCards{
          width: 80%;
          height: auto;
          background: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
}
.PricingAddOns .AddOns .AddOnsCards h1{
         font-size: 2vmax;
         color: black;
         font-weight: 600;
         font-family: Arial, Helvetica, sans-serif;
}
.PricingAddOns .AddOns .AddOnsCards .Addonscard{
          width: 100%;
          margin-top: 2vmax;
          height: auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
 }
 .PricingAddOns .AddOns .AddOnsCards .Addonscard .one{
          width: 30%;
          box-shadow: 2px 2px 10px 2px rgb(227, 227, 227);
          height: 20vmax;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          padding-left: 2vmax;
          align-items: flex-start;
          justify-content: space-evenly;
 }
 .PricingAddOns .AddOns .AddOnsCards .Addonscard .one img{
          width: 10%;
          height: 3vmax;
 }
 .PricingAddOns .AddOns .AddOnsCards .Addonscard .one h5{
         font-size: 1.6vmax;
 }
 .PricingAddOns .AddOns .AddOnsCards .Addonscard .one p{
          font-size: 1vmax;
          font-family: Arial, Helvetica, sans-serif;
  }
  .PricingAddOns .AddOns .AddOnsCards .Addonscard .one h6{
          font-size: 1.6vmax;
          font-weight: 550;
          font-family: Arial, Helvetica, sans-serif;
  }
  .PricingAddOns .AddOns .AddOnsCards .Addonscard .one h6 span{
          font-size: 1.1vmax;
          font-weight: lighter;
          font-family: Arial, Helvetica, sans-serif;
  }

@media (max-width:600px) {
          .PricingAddOns .AddOns{
                    width: 100%;
                    height: auto;
          }
          .PricingAddOns .AddOns .AddOnsCards{
                    width: 90%;
                    height: auto;
          }
          .PricingAddOns .AddOns .AddOnsCards h1{
                    font-size: 3vmax;
           }
           .PricingAddOns .AddOns .AddOnsCards .Addonscard{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
           }
           .PricingAddOns .AddOns .AddOnsCards .Addonscard .one{
                    width: 90%;
                    margin-top: 3vmax;
                    height: 40vmax;
           }

           .PricingAddOns .AddOns .AddOnsCards .Addonscard .one img{
                    width: 20%;
                    height: 5vmax;
           }
           .PricingAddOns .AddOns .AddOnsCards .Addonscard .one h5{
                   font-size: 3vmax;
           }
           .PricingAddOns .AddOns .AddOnsCards .Addonscard .one p{
                    font-size: 1.8vmax;
            }
            .PricingAddOns .AddOns .AddOnsCards .Addonscard .one h6{
                    font-size: 3vmax;
            }
            .PricingAddOns .AddOns .AddOnsCards .Addonscard .one h6 span{
                    font-size: 2vmax;
            }
}
@media (min-width:600px) and (max-width:850px) {
          .PricingAddOns .AddOns{
                    width: 100%;
                    height: auto;
          }
          .PricingAddOns .AddOns .AddOnsCards{
                    width: 90%;
                    height: auto;
          }
          .PricingAddOns .AddOns .AddOnsCards h1{
                    font-size: 3.5vmax;
           }
           .PricingAddOns .AddOns .AddOnsCards .Addonscard{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
           }
           .PricingAddOns .AddOns .AddOnsCards .Addonscard .one{
                    width: 90%;
                    margin-top: 3vmax;
                    height: 40vmax;
           }

           .PricingAddOns .AddOns .AddOnsCards .Addonscard .one img{
                    width: 20%;
                    height: 5vmax;
           }
           .PricingAddOns .AddOns .AddOnsCards .Addonscard .one h5{
                   font-size: 3.5vmax;
           }
           .PricingAddOns .AddOns .AddOnsCards .Addonscard .one p{
                    font-size: 2vmax;
            }
            .PricingAddOns .AddOns .AddOnsCards .Addonscard .one h6{
                    font-size: 3vmax;
            }
            .PricingAddOns .AddOns .AddOnsCards .Addonscard .one h6 span{
                    font-size: 2vmax;
            }
}
